<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="wf-frontend" version="2.5">
	<display-name>workflow - frontend</display-name>

	<context-param>
		<description>workflow - frontend</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/config/applicationContext.xml</param-value>
	</context-param>

	<!-- To load the Spring context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- To allow session-scoped beans in Spring -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>startProcessServlet</servlet-name>
		<servlet-class>org.wf.frontend.servlet.StartProcessServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>startProcessServlet</servlet-name>
		<url-pattern>/startProcess</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>